<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cat Facts</title>
</head>
<body>

  <h1>Cat Facts</h1>

  <ul>
    <li>Cats have five toes on their front paws, but only four toes on their back paws.</li>
    <li>A group of cats is called a clowder.</li>
    <li>Cats can rotate their ears 180 degrees.</li>
    <li>The average cat sleeps 12-16 hours per day.</li>
    <li>A cat's nose print is unique, much like a human's fingerprint.</li>
  </ul>

</body>
</html>
